@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.contact-banner {
  position: relative;
  color: white;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 1024px) {
  .contact-banner {
    height: 70vh;
  }
}
@media only screen and (max-width: 991px) {
  .contact-banner {
    height: 60vh;
  }
}
.contact-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 26.44%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 43.27%, rgba(0, 0, 0, 0.65) 100%);
}
.contact-banner .video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.contact-banner .bg-wrapper {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 540px) {
  .contact-banner .bg-wrapper {
    top: 70%;
  }
}
.contact-banner .bg-wrapper h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 18px;
}
@media only screen and (max-width: 540px) {
  .contact-banner .bg-wrapper h1 {
    font-size: 38px;
    margin-bottom: 7px;
  }
}
.contact-banner .bg-wrapper p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--white);
}
@media only screen and (max-width: 540px) {
  .contact-banner .bg-wrapper p {
    font-size: 13px;
    max-width: 100%;
    margin: auto;
  }
}
.contact-banner .scroll-btn {
  position: absolute;
  top: 85%;
  left: 49%;
  animation: scroll 1.5s ease-in-out infinite forwards;
}

.contact-secA {
  overflow: hidden;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
  background: var(--gradient-a);
}
.contact-secA::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 12%;
  height: 97%;
  background: url("../../images/contact/sec-a-bg.png") no-repeat;
}
@media only screen and (max-width: 540px) {
  .contact-secA::before {
    bottom: 0px;
    width: 39%;
    height: 230px;
  }
}
.contact-secA .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: flex-start;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .contact-secA .grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 540px) {
  .contact-secA .grid-box {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
}
.contact-secA .grid-box .grid-box-item {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .contact-secA .grid-box .grid-box-item {
    justify-content: flex-start;
  }
}
.contact-secA .grid-box .grid-box-item .content {
  max-width: 40%;
}
@media only screen and (max-width: 768px) {
  .contact-secA .grid-box .grid-box-item .content {
    max-width: 100%;
  }
}
.contact-secA .grid-box .grid-box-item .content h3 {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: white;
  padding-bottom: 10px;
}
.contact-secA .grid-box .grid-box-item .content p {
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding-bottom: 10px;
}
.contact-secA .grid-box .grid-box-item .content a {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.contact-secA .grid-box .grid-box-item:nth-child(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.368627451);
}
@media only screen and (max-width: 768px) {
  .contact-secA .grid-box .grid-box-item:nth-child(1) {
    border: none;
  }
}
.contact-secA .grid-box .grid-box-item:nth-child(2) {
  border-right: 1px solid rgba(255, 255, 255, 0.368627451);
}
@media only screen and (max-width: 768px) {
  .contact-secA .grid-box .grid-box-item:nth-child(2) {
    border: none;
  }
}
.contact-secA .grid-box .grid-box-item:nth-child(2) .no {
  display: block;
}
.contact-secA .grid-box .grid-box-item:nth-child(2) .whatsapp-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 6px 18px;
  background: white;
  margin-top: 20px;
}
.contact-secA .grid-box .grid-box-item:nth-child(2) .whatsapp-btn span {
  color: #09898F;
}
.contact-secA .grid-box .grid-box-item:nth-child(2) .whatsapp-btn svg path {
  fill: #09898F;
}

.contact-secB {
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  background: #F2F2F2;
}
@media only screen and (max-width: 540px) {
  .contact-secB {
    padding: 50px 0;
  }
}
.contact-secB .box {
  margin: auto;
  max-width: 779px;
  height: auto;
}
.contact-secB .box .heading {
  text-align: center;
  margin-bottom: 70px;
}
@media only screen and (max-width: 540px) {
  .contact-secB .box .heading {
    margin-bottom: 30px;
  }
}
.contact-secB .box .heading h2 {
  font-weight: 600;
  color: var(--black);
  font-size: 48px;
  max-width: 60%;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .contact-secB .box .heading h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
.contact-secB .box .heading p {
  font-size: 14px;
  line-height: 1.2;
  max-width: 90%;
  margin: auto;
}
.contact-secB .box .form {
  margin: auto;
  --item: 2;
}
@media only screen and (max-width: 768px) {
  .contact-secB .box .form {
    max-width: 80%;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secB .box .form {
    --item: 1;
    --gaptb: 22px;
    max-width: 90%;
  }
}
.contact-secB .box .form .form-group::before {
  background: var(--text);
}
.contact-secB .box .form .form-group .custom-select .current {
  color: var(--text);
}
.contact-secB .box .form label {
  color: var(--text);
}
.contact-secB .box .form .bottom-btn {
  margin: auto;
}
.contact-secB .box .form .dropdown-input {
  text-align: left;
}
.contact-secB .box .form .dropdown-input .list li {
  color: var(--text);
  transition: 0.5s ease;
}
.contact-secB .box .form .dropdown-input .list li.focus {
  color: white;
}
.contact-secB .box .form .dropdown-input .list li:hover {
  color: var(--white);
  background: var(--primary);
}
.contact-secB .box .form .btn2 {
  margin: 10px auto 0px auto;
}

.contact-secC {
  overflow: hidden;
  height: auto;
  margin-bottom: -6.9px;
  position: relative;
}
.contact-secC iframe {
  width: 100%;
  margin-bottom: 0;
  height: 656px;
}
@media only screen and (max-width: 991px) {
  .contact-secC iframe {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secC iframe {
    height: 60vh;
  }
}/*# sourceMappingURL=contact.css.map */