@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.service-banner {
  position: relative;
  color: white;
  overflow: hidden;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 1024px) {
  .service-banner {
    height: 80vh;
  }
}
@media only screen and (max-width: 991px) {
  .service-banner {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .service-banner {
    height: 60vh;
  }
}
.service-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 26.44%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 43.27%, rgba(0, 0, 0, 0.65) 100%);
}
@media only screen and (max-width: 540px) {
  .service-banner::before {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 64.44%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 34.27%, rgba(0, 0, 0, 0.65) 100%);
  }
}
.service-banner .banner-wrapper {
  width: 100%;
}
.service-banner .banner-wrapper .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.service-banner .banner-wrapper .bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 540px) {
  .service-banner .banner-wrapper .container {
    padding: 0;
  }
}
.service-banner .banner-wrapper .container .bg-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 35%;
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  .service-banner .banner-wrapper .container .bg-wrapper {
    bottom: 20%;
  }
}
@media only screen and (max-width: 768px) {
  .service-banner .banner-wrapper .container .bg-wrapper {
    margin-left: 0;
    left: 0;
  }
}
@media only screen and (max-width: 540px) {
  .service-banner .banner-wrapper .container .bg-wrapper {
    bottom: 15%;
    margin-left: 0px;
  }
}
.service-banner .banner-wrapper .container .bg-wrapper h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 18px;
  max-width: 528px;
}
@media only screen and (max-width: 991px) {
  .service-banner .banner-wrapper .container .bg-wrapper h1 {
    max-width: 70%;
    line-height: 1.2;
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .service-banner .banner-wrapper .container .bg-wrapper h1 {
    max-width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .service-banner .banner-wrapper .container .bg-wrapper h1 {
    max-width: 100%;
    font-size: 30px;
    line-height: 1.1;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 8px;
  }
}
.service-banner .banner-wrapper .container .bg-wrapper p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  max-width: 450px;
  display: none;
}
@media only screen and (max-width: 768px) {
  .service-banner .banner-wrapper .container .bg-wrapper p {
    margin: auto;
  }
}
@media only screen and (max-width: 540px) {
  .service-banner .banner-wrapper .container .bg-wrapper p {
    max-width: 95%;
    text-align: center;
    margin: auto;
    font-size: 15px;
  }
}

.service-secA {
  padding: 50px 0;
}
.service-secA .flex-box {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .service-secA .flex-box {
    flex-direction: column;
  }
}
.service-secA .flex-box .flex-box-item:first-child {
  width: 65%;
}
@media only screen and (max-width: 1024px) {
  .service-secA .flex-box .flex-box-item:first-child {
    width: 55%;
  }
}
@media only screen and (max-width: 991px) {
  .service-secA .flex-box .flex-box-item:first-child {
    width: 100%;
  }
}
.service-secA .flex-box .flex-box-item:first-child .content p {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 25px;
  color: var(--text);
}
.service-secA .flex-box .flex-box-item:first-child .content h2 {
  font-weight: 600;
  font-size: 25px;
  color: black;
  margin: 40px 0 10px 0;
}
.service-secA .flex-box .flex-box-item:first-child .content h3 {
  font-weight: 600;
  font-size: 18px;
  color: black;
  margin: 40px 0 10px 0;
}
.service-secA .flex-box .flex-box-item:first-child .content h4 {
  font-weight: 600;
  font-size: 16px;
  color: black;
  margin: 40px 0 10px 0;
}
.service-secA .flex-box .flex-box-item:first-child .content h5 {
  font-weight: 600;
  font-size: 14px;
  color: black;
  margin: 40px 0 10px 0;
}
.service-secA .flex-box .flex-box-item:first-child .content ul {
  margin-bottom: 20px;
  margin-left: 10px;
}
.service-secA .flex-box .flex-box-item:first-child .content ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  color: var(--text);
}
.service-secA .flex-box .flex-box-item:first-child .content ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(270deg, #005659 0%, #0FD0D9 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  transform: translateY(-50%);
}
@media only screen and (max-width: 540px) {
  .service-secA .flex-box .flex-box-item:first-child .content ul li::before {
    top: 19%;
  }
}
.service-secA .flex-box .flex-box-item:last-child {
  width: 380px;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
  border-radius: 10px;
  background: var(--gradient-a);
  position: Sticky;
  top: 125px;
  padding: 25px;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .service-secA .flex-box .flex-box-item:last-child {
    width: 100%;
  }
}
.service-secA .flex-box .flex-box-item:last-child::-webkit-scrollbar {
  width: 2px;
}
.service-secA .flex-box .flex-box-item:last-child::-webkit-scrollbar-track {
  box-shadow: unset;
  background: #fff;
}
.service-secA .flex-box .flex-box-item:last-child::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #3154AE 0%, #1A1D5B 100%);
}
.service-secA .flex-box .flex-box-item:last-child .heading h2 {
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
  padding: 15px 0 0 0;
  text-align: center;
}
.service-secA .flex-box .flex-box-item:last-child .heading p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--white);
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .service-secA .flex-box .flex-box-item:last-child .heading p {
    max-width: 70%;
    margin: auto;
  }
}
@media only screen and (max-width: 540px) {
  .service-secA .flex-box .flex-box-item:last-child .heading p {
    max-width: 100%;
  }
}
.service-secA .flex-box .flex-box-item:last-child form {
  padding: 30px 0 0 0;
}
.service-secA .flex-box .flex-box-item:last-child form .form-grid {
  --gaptb:15px;
}
@media only screen and (max-width: 991px) {
  .service-secA .flex-box .flex-box-item:last-child form .form-grid {
    --item: 2;
  }
}
@media only screen and (max-width: 540px) {
  .service-secA .flex-box .flex-box-item:last-child form .form-grid {
    --item: 1;
  }
}
.service-secA .flex-box .flex-box-item:last-child form .form-grid .form-group::before {
  background: white;
}
.service-secA .flex-box .flex-box-item:last-child form .form-grid .form-group::after {
  background: white;
}
.service-secA .flex-box .flex-box-item:last-child form .form-grid .form-group input, .service-secA .flex-box .flex-box-item:last-child form .form-grid .form-group textarea {
  color: white;
}
.service-secA .flex-box .flex-box-item:last-child form .form-grid .form-group label {
  color: white;
}
.service-secA .flex-box .flex-box-item:last-child form .form-grid .bottom-btn {
  margin: 30px 0 0 0;
  width: 100%;
}
.service-secA .flex-box .flex-box-item:last-child form .form-grid .bottom-btn button {
  width: 100%;
}
.service-secA .flex-box .flex-box-item:last-child .content-heading {
  padding: 40px 0;
}
.service-secA .flex-box .flex-box-item:last-child .content-heading ul li {
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  padding-left: 20px;
  margin-bottom: 25px;
  line-height: 1.4;
}
.service-secA .flex-box .flex-box-item:last-child .content-heading ul li a {
  color: var(--white);
}
.service-secA .flex-box .flex-box-item:last-child .content-heading ul li .active {
  color: #5EB9FF;
  position: relative;
}
.service-secA .flex-box .flex-box-item:last-child .content-heading ul li .active::before {
  content: "";
  position: absolute;
  top: 5%;
  left: -18px;
  width: 25px;
  background: url(../../../assets/icon/right-primary.svg);
  background-repeat: no-repeat;
  aspect-ratio: 1;
}

.service-secB {
  background: #EEEEEE;
  padding: 70px 0;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .service-secB {
    padding: 50px 0;
  }
}
.service-secB .heading h2 {
  font-size: 48px;
  font-weight: 700;
}
@media only screen and (max-width: 540px) {
  .service-secB .heading h2 {
    font-size: 40px;
  }
}
.service-secB .flex-box {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  gap: 90px;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .service-secB .flex-box {
    flex-direction: column;
    gap: 40px;
    padding: 50px 20px 0px 20px;
  }
}
@media only screen and (max-width: 540px) {
  .service-secB .flex-box {
    padding: 30px 0 0 0;
  }
}
.service-secB .flex-box::before {
  content: "";
  position: absolute;
  width: 26%;
  height: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../images/service/bg-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.service-secB .flex-box .flex-box-item:first-child figure {
  width: 580px;
  height: 404px;
}
@media only screen and (max-width: 1024px) {
  .service-secB .flex-box .flex-box-item:first-child figure {
    width: auto;
    height: auto;
  }
}
.service-secB .flex-box .flex-box-item:first-child figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  box-shadow: 13px 13px 0px 0px rgba(15, 208, 217, 0.2509803922);
}
.service-secB .flex-box .flex-box-item:last-child {
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .service-secB .flex-box .flex-box-item:last-child {
    width: 60%;
  }
}
@media only screen and (max-width: 991px) {
  .service-secB .flex-box .flex-box-item:last-child {
    width: 100%;
    text-align: center;
  }
}
.service-secB .flex-box .flex-box-item:last-child h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #303030;
  margin-bottom: 20px;
  max-width: 80%;
  white-space: nowrap;
}
@media only screen and (max-width: 1024px) {
  .service-secB .flex-box .flex-box-item:last-child h3 {
    max-width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .service-secB .flex-box .flex-box-item:last-child h3 {
    font-size: 25px;
    line-height: 1.1;
  }
}
.service-secB .flex-box .flex-box-item:last-child p {
  max-width: 80%;
}
@media only screen and (max-width: 1024px) {
  .service-secB .flex-box .flex-box-item:last-child p {
    max-width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .service-secB .flex-box .flex-box-item:last-child p {
    font-size: 14px;
  }
}
.service-secB .flex-box .flex-box-item:last-child span {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .service-secB .flex-box .flex-box-item:last-child span {
    justify-content: center;
  }
}
@media only screen and (max-width: 540px) {
  .service-secB .flex-box .flex-box-item:last-child span {
    margin-top: 20px;
  }
}
.service-secB .flex-box .flex-box-item:last-child span .btn {
  margin: 0;
}
.service-secB .flex-box .flex-box-item:last-child span .btn a {
  border: 1px solid #50A6AA;
  color: #50A6AA;
}
.service-secB .flex-box .flex-box-item:last-child span .btn a:hover {
  color: white;
}
.service-secB .flex-box .flex-box-item:last-child span .btn2 {
  margin: 0;
}
.service-secB .flex-box:last-child {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
  .service-secB .flex-box:last-child {
    flex-direction: column;
  }
}
.service-secB .flex-box:last-child::before {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}/*# sourceMappingURL=service.css.map */